@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;

}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;

  margin: 0 auto;
  background-color: #276221;
  position:fixed;
  width: 100%;

  z-index: 1000; /* any high number */
}
.navbar h1 {
  color: #f2f2f2;
  background-color: #276221;
}
.navbar .links {
  margin-left: auto;
  padding-top: 0px;
  margin-top: 0px;
  background-color: #276221;
}
.navbar a {
  margin-right: 30px;
  text-decoration: none;
  padding: 6px;
  color: #f2f2f2;
  background-color: #276221;
}
.navbar a:hover {
  color: #8bca84;
}

.navbar img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin : 0 20px;
  border: 1px solid #eaeaea;
  
}
.navbar .pfp{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin : 0 20px;
  border: 1px solid #eaeaea;
  
}

.navbar .btn {
  display: inline;
  float : left;
  background-color: #ffffff;
  color: #000000;
  padding: 6px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 30px
  
}

.navbar .btn:hover {
  background-color: #334155;
}

/* blog home */
.home {
  margin-bottom:1000px;
}

img {
  margin-top: 40px;
  max-width:100%;
}

.home h1 {
  padding: 50px 50px 20px 50px;
  color: #46923c;
}

/* blog previews / list */
.blog-list {
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-preview {
  padding: 20px;
  width: 250px;
  height: 100px;
  margin: 20px 0px;

  border-style: solid;
  border-radius: 15px;
  border-color: #8bca84;

  
}
.blog-preview:hover {
  animation-name: bubble-expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble-expand {
  0%{
    width: 250px;
    height: 100px;
  }
  100%{
    width: 300px;
    height: 120px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
  }
}

.blog-preview h2 {
  font-size: 20px;
  color: #46923c;
  text-align: center;
}

.blog-preview p {
  color: #46923c;
  text-align: center;
}

.blog-preview a{
  text-decoration: none;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* blog details page */
.blog-details {
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.blog-details h2 {
  font-size: 30px;
  color: #46923c;
  margin-bottom: 10px;
  margin-top: 70px;
}
.blog-details h3 {
  font-size: 18px;
  color: #46923c;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #46923c;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create h2 {
  padding-top: 150px;
}

.create form {
  border-style: solid;
  border-radius: 15px;
  border-color: #8bca84;
  padding: 20px;
}

.create form:hover {
  animation-name: donation-glow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes donation-glow {
  0%{
    box-shadow: 0px 0px 0px #8bca84;
  }
  50%{
    box-shadow: 0px 0px 20px #8bca84;
  }
  100%{
    box-shadow: 0px 0px 0px #8bca84;
  }
}


.create label {
  text-align: left;
  display: block;
}

.create h1 {
  font-size: 35px;
  color: #46923c;
}

.create h2 {
  font-size: 20px;
  color: #46923c;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #46923c;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Login */
/* 
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login h1 {
  margin-bottom: 1.6rem;
  font-size: 24px;
  text-align: center;
}

.login img google-logo{
  width: 20px;
  height: 20px;

} */

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #1e293b;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-primary:hover {
  background-color: #334155;
}

.user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  background-image: linear-gradient(to bottom right, #f4f4f4, #eaeaea);
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.user-profile .blog-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #eaeaea;
}

.name {
  color: #333;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 600;
}

.email {
  color: #666;
  font-size: 16px;
  margin: 5px 0;
}

.locale {
  color: #666;
  font-size: 14px;
  margin-top: 25px;
  letter-spacing: 1px;
  font-family: monospace;
}


/* search bar */

.search-bar-wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  justify-content: center;
  margin: 60px 0px 40px 0px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 50px;
  width: 60%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #ffffff;
}

.search-city {
  border: 1px solid grey;
  border-radius: 5px;
  height: 50px;
  width: 20%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #ffffff;
}

.search-button {
  width: 5%;
  border: 1px solid;
  background-color: white;
  border-color: #46923c;
  color: #46923c;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  animation-name: search-button-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes search-button-hover {
  0% {
    background-color: white;
    color: #46923c;
  }
  100% {
    background-color: #46923c;
    color: white;
  }
}

